<html> 
<title>Home Page</title>
<style>
td,tr,li {
      padding: 5px;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    height:320px;
    width:48%;
    float:left;
    padding:5px; 
}
#section {
    line-height:30px;
    height:320px;
    width:48.5%;
    float:right;
    padding:5px;
}
#footer {
    
    clear:both;
    text-align:left;
    padding:35px; 
}
</style>
<body bgcolor="A2B6B4">
  <h2><center>Welcome To Home Page</center></h2>

<div id="header">
<table style="width:100%">
    <tr>  <td></td><td></td>
    
    <td><label style="color: white;font-size:20px">For Staff Use: <button onClick="window.location='/app1/index/home/analytics/';" value="" />Analytics</label></td><td></td><td></td>
    <td><label style="font-size:20px"><button onClick="window.location='/app1/index/signup/home/logout/';" value=""/> signout</label></td>
   
   </tr>
   </table>
</div><br>


<div id="nav">
<form action="" method="post">
  <fieldset><legend><h2>Most Views :</h2></legend><br>
  <table>
    <ol>
    {% for story in stories_list %}
        <li><a href="/app1/index/home/{{story.id}}/">{{story.title}}</a> - {% for tag in story.prefrence.all %}<span>{{tag.name}}</span>{% if not forloop.last %}, {% endif %} {% endfor %}</li>
    {% endfor %}
    </ol>
  </table>
  </fieldset>
</form>
</div>

<div id="section">
<form action="" method="post">
  <fieldset><legend><h2>Top News :</h2></legend><br>
  <table>
    <ol>
     {% for story in stories %}
        <li><a href="/app1/index/home/{{story.id}}/">{{story.title}}</a> - {% for tag in story.prefrence.all %}<span>{{tag.name}}</span>{% if not forloop.last %}, {% endif %} {% endfor %}</li>
     {% endfor %}
    </ol>
  </table>
  </fieldset>
</form>
</div>

<div id="footer">
<form action="" method="post">
  <fieldset><legend><h2>Suggested Stories :</h2></legend><br>
  <table>
        <ol>
    
    {% if tgs %}
      {% for tg in tgs %}
      <li><a href="/app1/index/home/{{tg.id}}/">{{tg}}</a> </li>
        {% endfor %}
        {% endif %}
         
     
    </ol>
  </table>
  </fieldset>
  </form>

</div>

</body>
</html>


